@{
    ViewData["Title"] = "Cadastrar veículo";
}
<head>



</head>
<body>
    <h2>Cadastrar veículo</h2>
    <hr />
    <form class="row g-3 align-items-center">
        <div class="col-md-2">
            <label for="PlacaVeiculo"><b>Placa do veículo</b></label>
            <input name="PlacaVeiculo" id="PlacaVeiculo" class="form-control form-control-lg" type="text" placeholder="Placa do veículo" 
            aria-label=".form-control-lg example">
        </div>
        <div class="col-md-2">
            <label for="CorVeiculo"><b>Cor do veículo</b></label>
            <input name="CorVeiculo" id="CorVeiculo" class="form-control form-control-lg" type="text" placeholder="Cor do veículo" 
            aria-label=".form-control-lg example">
        </div>
        <div class="col-md-2">
            <label for="AnoFabricacao"><b>Ano de fabricação</b></label>
            <input name="AnoFabricacao" id="AnoFabricacao" class="form-control form-control-lg" type="text" placeholder="Ano Fabr." 
            aria-label=".form-control-lg example">
        </div>
        <div class="col-md-3">
            <label for="FabricanteVeiculo"><b>Fabricante</b></label>
            <input name="FabricanteVeiculo" id="FabricanteVeiculo" class="form-control form-control-lg" type="text" placeholder="Nome do fabricante" 
            aria-label=".form-control-lg example">
        </div>
        <div class="col-md-3">
            <label for="ModeloVeiculo"><b>Modelo</b></label>
            <input name="ModeloVeiculo" id="ModeloVeiculo" class="form-control form-control-lg" type="text" placeholder="Modelo do veículo" 
            aria-label=".form-control-lg example">
        </div>


        <div class="col-md-3">
            <label for="NumeroRenavam"><b>N° Renavam</b></label>
            <input name="NumeroRenavam" id="NumeroRenavam" class="form-control form-control-lg" type="text" placeholder="N° do Renavam" aria-label=".form-control-lg example">
        </div>
        <div class="col-md-6">
            <label for="NomeProprietario"><b>Nome completo do proprietário</b></label>
            <input name="NomeProprietario" id="NomeProprietario" class="form-control form-control-lg" type="text" placeholder="Nome completo do proprietário" aria-label=".form-control-lg example">
        </div>
        <div class="col-md-3">
            <label for="CPF"><b>CPF</b></label>
            <input name="CPF" id="CPF" class="form-control form-control-lg" type="text" placeholder="N° CPF" aria-label=".form-control-lg example">
        </div>
        <div class="col-md-3">
            <label for="CNPJ"><b>CNPJ</b></label>
            <input name="CNPJ" id="CNPJ" class="form-control form-control-lg" type="text" placeholder="N° CNPJ" aria-label=".form-control-lg example">
        </div>
        <div class="col-md-3">
            <label for="Bloqueado"><b>Bloqueado</b></label>
            <input name="Bloqueado" id="Bloqueado" class="form-control form-control-lg" type="text" placeholder="Bloqueado" aria-label=".form-control-lg example">
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-3">
            <button type="submit" class="btn btn-success rounded-pill">Salvar</button>
        </div>
    </form>
</body>